services:
  api:
    # build:
    #   context: .
    #   target: builder
    image: jallius/fachpraktikum-fastapi
    container_name: fachpraktikum-fastapi
    environment:
      PORT: 80
    ports:
      - '42000:80'
    restart: "unless-stopped"

  db:
    image: mysql
    container_name: fachpraktikum-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: safe123
      MYSQL_DATABASE: pytest
      MYSQL_USER: pytest
      MYSQL_PASSWORd: pytest
    ports:
      - "3306:3306"
      - "33060:33060"