services:
  api:
    build:
      context: .
      dockerfile: DockerfileApp
    container_name: fachpraktikum-fastapi
    environment:
      REDISSERVER: redis://redis_server:6379
      # C_FORCE_ROOT: "true"
    ports:
      - '42000:80'
    restart: "unless-stopped"
    depends_on:
      - redis_server

  worker:
    build:
      context: .
      dockerfile: DockerfileWorker
    environment:
      REDISSERVER: redis://redis_server:6379
      # C_FORCE_ROOT: "true"
    depends_on:
      - redis_server
  redis_server:
    image: redis

  flower:
    image: mher/flower
    command: ["celery", "--broker=redis://redis_server:6379", "flower", "--port=5555"]
    ports:
      - "5555:5555"
    depends_on:
      - redis_server

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: safe123
    ports:
      - "3306:3306"
      - "33060:33060"