services:
  api:
    image: jallius/fachpraktikum-app
    # build:
    #   context: .
    #   dockerfile: DockerfileApp
    environment:
      REDISSERVER: redis://redis_server:6379
      # C_FORCE_ROOT: "true"
    ports:
      - '42000:80'
    restart: "unless-stopped"
    depends_on:
      - redis_server

  worker:
    image: jallius/fachpraktikum-worker
    # build:
    #   context: .
    #   dockerfile: DockerfileWorker
    environment:
      REDISSERVER: redis://redis_server:6379
      # C_FORCE_ROOT: "true"
    deploy:
      mode: replicated
      replicas: 3
    depends_on:
      - redis_server
  redis_server:
    image: redis


  flower:
    image: mher/flower
    command: ["celery", "--broker=redis://redis_server:6379", "flower", "--port=5555"]
    ports:
      - "5555:5555"
    depends_on:
      - redis_server

  db:
    image: mysql:8.0
    container_name: fachpraktikum-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: safe123
      MYSQL_DATABASE: team1_db        # auto-create DB 
      MYSQL_USER: team1_user          # auto-create user
      MYSQL_PASSWORD: team1_pass
    ports:
      - "3306:3306"
      - "33060:33060"
    volumes:
      - db-data:/var/lib/mysql


volumes:
  db-data: 