# --- Data & Machine Learning ---
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2

# --- Visualization & Reporting ---
plotly==5.24.1
matplotlib==3.9.2

# --- Explainable AI ---
shap==0.44.1
lime==0.2.0.1

# --- Utils ---
joblib==1.4.2