@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global defaults */
@layer base {
  h1 {
    @apply text-3xl font-bold tracking-tight;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }
}
