name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker App image
      run: docker build . --file Dockerfile --tag fachpraktikum-app:$(date +%s)
    - name: Build the Docker Worker image
      run: docker build . --file DockerfileWorker --tag fachpraktikum-worker:$(date +%s)
